[defaults]
inventory = ~/ansible-hosts

library = /usr/local/lib/napalm-ansible/napalm_ansible/modules:/usr/local/lib/ntc-ansible/library
action_plugins = /usr/local/lib/napalm-ansible/napalm_ansible/plugins/action

host_key_checking = False
retry_files_enabled = False

log_path=/var/log/ansible/ansible.log
